*.o
*.a
*.so
*.la

*.exe
*.lib
*.dll
*.idb
*.exp
*.ncb
*.log
*.pdb
*.sbr
*.sdf
*.ilk
*.pch
*.aps
*.tlb
*.tlh
*.suo
*.user
*.deps
*.libs
*.dbmdl
*.DS_Store
*.[Oo]bj

*.pyd
*.pyc

build/
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
GeneratedFiles/

*.pidb
*.userpref

[Tt]humbs.db
[Bb]uild/
CMakeFiles/
CMakeCache.txt
html/

*.svn
~$*

MakeFile*
*generated*
qmake_image_collection.cpp

*.pkg
*.swp
*.orig

*.tar
*.tar.gz
*.zip
*.7z
*.lzma
*.tgz
*.rar
*.gz

__pycache__
build
*.pyc
*.swp
MANIFEST
deb_build
dist
.idea
rtr.cvs
*.pyc
*.pyo
*.pyw